---
import { storyblokEditable } from '@storyblok/astro'
 
 const { blok } = Astro.props
 ---
  
 <div
   {...storyblokEditable(blok)}
 >
 <div class=" border border-[#A3A7A8] bg-red-800 ">
  <img src={blok.Logoimage.filename} class="w-24 h-6 bg-red-700"></img>
  </div>
  
 </div>