---
import { storyblokEditable } from '@storyblok/astro'
 
 const { blok } = Astro.props
 ---
  
 <div
   {...storyblokEditable(blok)}
 >
 <div class=" border border-b-[#A3A7A8] ">
  <div class="flex flex-row gap-40 justify-between">
   <h1>{blok.Type}</h1> 
   <h1>{blok.TotalPosts}</h1>
    </div>
  </div>
  
 </div>